.ctn {
  _: _;
  header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  a, button {
    _: _;
    padding: 10px 10px;
    background: #61dafb;
    color: #282c34;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
  }
}
